@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 55px;
  height: 3px;
  background: #fff;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scale(1);
}
.navigation .btnLogin-popup {
  outline: none;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.2s;
}
.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
  border-radius: 40px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px thistle;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: 0.5s;
}
.wrapper .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  color: #fff;
  background: #162938;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 99;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
  font-weight: 600;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 10px;
}
.wrapper .input-box label {
  position: absolute;
  top: 20px;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  color: #162938;
  pointer-events: none;
  transition: 0.5s;
}
.wrapper .input-box input:focus ~ label,
.wrapper .input-box input:valid ~ label {
  top: 0;
}
.wrapper .input-box input {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 600;
  color: #162938;
  padding: 0 35px 0 5px;
  background: transparent;
  border: none;
  outline: none;
}
.wrapper .input-box .icon {
  position: absolute;
  right: 0;
  line-height: 57px;
}
.wrapper .remember-forgot {
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.wrapper .remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.wrapper .remember-forgot a {
  color: #162938;
  text-decoration: none;
}
.wrapper .remember-forgot a:hover {
  text-decoration: underline;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.wrapper .create-account {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 600;
  margin: 25px 0 10px;
}
.wrapper .create-account p a {
  color: #162938;
  text-decoration: none;
}
.wrapper .create-account p a:hover {
  text-decoration: underline;
}
.wrapper .active-popup {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */